.navbar {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00B09ACC; /* Semi-transparent background */
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it appears above other content */
    color: black;
    font-weight: bold;
    transition: top 0.3s; /* Smooth transition for showing and hiding */
  }
  
  .navbar-logo img {
    height: 40px; /* Adjust size as needed */
    margin-right: 40px; /* Adjust margin as needed */
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  
  .navbar-links li {
    position: relative; /* Needed for dropdown arrow */
  }
  
  .navbar-links li a {
    color: rgb(24, 22, 22);
    text-decoration: none;
    font-size: 1em;
    position: relative;
  }
  
  .navbar-links .dropdown::after {
    content: '';
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: -8px; /* Adjust position of the arrow */
    transform: translateY(-50%) rotate(45deg); /* Center the arrow vertically */
    transition: all 0.3s ease; /* Smooth transition for the arrow */
  }
  
  .navbar-links .dropdown:hover::after {
    border-color: transparent; /* Hide arrow on hover */
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 5px); /* Adjust distance from parent element */
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for dropdown */
    z-index: 1000;
  }
  
  .dropdown-menu.active {
    display: block; /* Show dropdown when active */
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #f0f0f0; /* Optional: Hover background color */
  }
  
  .auth-links {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  
  .auth-links li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
  }
  
  .auth-links li a:hover {
    color: #ff5722;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  

  
  
  
  
  