.hero-container {
    background: rgba(174, 160, 160, 0.3); /* Light gray background with 30% opacity */
    padding: 0; /* Remove padding from top and bottom */
    min-height: 130vh; /* Adjusted min-height for demonstration */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; /* Set text color to black */
}

.hero-content {
    display: flex;
    width: 100%; /* Ensure it takes full width of the screen */
    height: 70vh; /* Ensure it takes full height of the viewport */
    margin: 0 auto;
    /* Example background image */
    background-image: url('../assets/image 11.png'); /* Path to your image */
}

.hero-content-left {
    flex: 0 0 55%; /* Take up 55% of the available space */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%; /* Ensure it takes full height of the parent (hero-content) */
}

.hero-content-right {
    flex: 1; /* Take up the remaining 45% of the available space */
    text-align: left;
    padding: 20px; /* Add padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center align items horizontally */
}

.hero-content-right h2 {
    font-size: 2.5rem; /* Adjusted font size */
    margin-bottom: 20px;
    color: black; /* Set text color to black */
}

.hero-content-right p {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: black; /* Set text color to black */
    font-weight: bold; /* Corrected spelling and added font weight */
}

.btn-primary {
    background-color: #00B09A; /* Adjust button background color */
    color: white; /* Adjust button text color */
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px; /* Rounded border */
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Align button to the center of the flex container */
}
.btn-primary::after {
    content: ' →';
    font-weight: bold; /* Unicode arrow character or use an image */
    margin-left: 5px; /* Adjust spacing between text and arrow */
}

.btn-primary:hover {
    background-color: black; /* Adjust button background color on hover */
    color: white; /* Adjust button text color on hover */
}

.newpart {
    display: flex;
    width: 100%; /* Ensure it takes full width of the screen */
    height: 60vh; /* Ensure it takes full height of the viewport */
    margin: 20px auto; /* Example margin */
}

.newpart-left {
    flex: 0 0 55%; /* Take up 55% of the available space */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100%; /* Ensure it takes full height of the parent (newpart) */
    margin-left: 10px;
}

.newpart-left img {
    width: 100%; /* Ensure the image takes full width of its container */
    height: 100%; /* Ensure the image takes full height of its container */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.newpart-right {
    flex: 1; /* Take up the remaining 45% of the available space */
    text-align: left;
    padding: 20px; /* Add padding as needed */
    display: flex;
    flex-direction: column;
  
    align-items: center; /* Center align items horizontally */
}

.newpart-right h2 {
    font-size: 3em; /* Adjusted font size */
    margin-bottom: 20px;
    color: black;
    font-weight: bold; /* Set text color to black */
}

.newpart-right p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: black; /* Set text color to black */
/* Corrected spelling and added font weight */
}

.btn-sec {
    background-color: #00B09A; /* Adjust button background color */
    color: white; /* Adjust button text color */
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 2rem;
    border: none;
    border-radius: 40px; /* Rounded border */
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Align button to the center of the flex container */
}
.btn-sec::after {
    content: ' →';
    font-weight: bold; /* Unicode arrow character or use an image */
    margin-left: 5px; /* Adjust spacing between text and arrow */
}

.btn-sec:hover {
    background-color: black; /* Adjust button background color on hover */
    color: white; /* Adjust button text color on hover */
}





  
  
  
  
  
    
  
  